body {
  cursor: auto;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
}

@keyframes rainbow {
  0% {
    color: #ff8a00;
  }
  20% {
    color: #e52e71;
  }
  40% {
    color: #3498db;
  }
  60% {
    color: #2ecc71;
  }
  80% {
    color: #e74c3c;
  }
  100% {
    color: #ff8a00;
  }
}

.frontpage-title {
  position: relative;
  left: 35%;
  font-size: 50px;
  text-decoration: underline;
}

.title {
  position: relative;
  left: 15%;
  background-image: linear-gradient(
    90deg,
    #ff8a00,
    #e52e71,
    #3498db,
    #2ecc71,
    #e74c3c
  );
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: underline;
  animation: rainbow 5s infinite; /* Adjust the duration as needed */
}

.title::before,
.title::after {
  content: "🎉";
  color: #333; /* You can set the color of the emoji here */
}

.play-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: 0.8em;
  margin-left: 10%;
  height: 100em;
  width: 100%;
  background: #fff;
  border-radius: 15px;
}

.play-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin: 0 5rem 0 5rem;
  font-weight: bold;
}
.individual-prize-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-prize-list {
  width: 80%;
  font-size: 1em;
  border-radius: 0.5rem;
  position: relative;
  height: 80%;
}
.current-prizes-pic {
  width: 100%;
  height: 20%;
}

.inside-prize-list {
  background: #fff;
  width: 110%;
  border-radius: 0%;
}
.rewards {
  width: 80%;
  margin-bottom: 0.5em;
  background-color: transparent;
  position: relative;
  left: 15%;
}
.prize-list-title {
  margin-left: 2%;
}
.prize-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.prize-item h3 {
  font-size: 1.4em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.santa-hat {
  top: 0;
  right: 0;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 100px;
  height: auto;
}

.santa-hat-prize {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%) rotate(20deg) scaleX(-1);
  width: 100px;
  height: auto;
}

.modal {
  width: 60%;
  background-color: white;
  height: 80%;
  position: absolute;
  left: 20%;
  top: 25%;
  z-index: 1;
  border: black;
  border-radius: 3%;
  border-width: 3px;
  border: solid;
}
.modal-pic {
  position: absolute;
  left: 3%;
  top: 5px;
  width: 95%;
  height: 99%;
}
.closeModal {
  position: absolute;
  left: 82%;
  top: 20%;
  font-size: 2em;
  background-color: red;
  border-radius: 10%;
}

@media screen and (max-width: 1540px) {
  .prize-item h3 {
    font-size: 1.2em;
  }
}

.prizeNumber {
  margin-right: 5px;
}
.prizeName {
  text-decoration: underline;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1fr;
  grid-template-areas:
    "number play-button"
    "winner winner";
  max-width: 100%;
  width: 100%;
}
.winnerAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: winner;
  height: 450px;

  /* margin-top: 5%; */
  font-size: 1.7em;
  position: relative;
  bottom: 50%;
  width: 90%;
  left: 10%;
}

.game-button {
  grid-area: play-button;
  display: flex;
  justify-content: center;
  height: 50%;
  z-index: 1;
}

.game-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: number;
  height: 50%;
}
.winner-el {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.3em;
  margin: 0;
  text-decoration: underline;
}

.game-play-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.win-title {
  font-size: 3em;
  position: relative;
}

.winning-number {
  position: relative;
  bottom: 1em;
  font-size: 9em;
}

.start-game {
  position: relative;
  top: 3em;
  height: 150px;
  width: 150px;
  font-size: 3em;
  background-color: #48abe0;
  color: white;
  border-radius: 70%;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.start-game:active {
  transform: translateY(2px);
}

/* player list */
