.container{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
}
.title{
    position: relative;
    left: 15%;
}
.play-list{
display: flex;
flex-direction: column;
align-items: left;
justify-content:flex-start;
font-size: 0.8em;
margin-left: 10%;
height: 100em;
width: 100%;
background: #fff;
border-radius: 15px;
}

.play-list-item{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: 1.2em;
    margin:0 5rem 0 5rem;
    font-weight: bold;
}
.individual-prize-container{
    display:flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9em;

}
.play-prize-list{
    width: 80%;
    height: 50%;
    font-size: 1em;
    margin-top:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.current-prizes-pic{
    width: 100%;
}

.inside-prize-list{
    background: #fff;
    width: 100%;
}
.rewards{
    margin-bottom:2em;
    background-color: transparent;
}

.prize-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}

.active{
    color:red;
}


.checkMark{
    font-size: 1.5em;
    color:purple;
    margin-left:10px;
    display:none;
}

.prizeNumber{
    margin-right:5px;
}
.prizeName{
    text-decoration: underline;
}

.game-container{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 5fr;
   grid-template-areas:
   "winner winner"
   "number play-button";
    
}
.winnerAlert{
    grid-area: winner;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.7em;
}

.winner-el{
    font-size: 1.5em;
    text-decoration: underline;
}

.game-play-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.game-number{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: number;

}
.win-title{
    font-size: 3em;
    position: relative;
}

.winning-number{
    position: relative;
    bottom:1em;
    font-size: 9em;
   
}

.game-button{
    grid-area: play-button;
    display: flex;
    justify-content: center;
    }
.start-game{
    position: relative;
    top:3em;    
    height: 15%;
    width: 35%;
    font-size: 3em;
    background-color: #48abe0;
    color: white;
    border-radius: 70% ;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    }
    
.start-game:active{
        transform: translateY(2px);
    }

