body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
}

.navbar {
  position: absolute;
  right: 3%;
  font-size: 2em;
  padding: 14px 16px;
  margin: 2px;
  border-radius: 20%;
  padding: 5px;
}

ul {
  display: flex;
  list-style-type: none;
}

li a {
  display: block;
  text-align: center;
  color: black;
}

li a:hover {
  color: #0096ff;
}

.setup-button {
  font-size: 0.75em;
  position: relative;
  top: 9px;
  /* text-decoration: underline; */
}

.play-button {
  /* box-shadow: 0px 1px 0px 0px #f0f7fa; */
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 28px;
  /* border:1px solid; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.8em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  margin-left: 1.5em;
}

.play-button :hover {
  color: red;
}

.setup-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.logo {
  margin: 10px;
  width: 25em;
}

/* button */
.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.btn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.btn:active {
  color: lightgreen;
}

#btn-addPlayer {
  position: relative;
  left: 130%;
  font-size: 1.5em;
}

.btn-reset {
  position: relative;
  right: 168%;
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: grey;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
  border: none;
  background: none;
  text-decoration: underline;
}

.btn-reset:hover {
  /* background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%); */
  /* background-color: #ce0100; */
  cursor: pointer;
}
.btn-reset:active {
  color: red;
}

.btn-prize {
  font-size: 1.2em;
  color: white;
}
.edit-btn-prize {
  font-size: 1.2em;
  background-color: lightgreen;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Lora", serif;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 10em;
}
/* form */
.form {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.info {
  text-decoration: underline;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1rem 5em 2rem 3.5em;
}

.prize-form {
  position: relative;
  right: 2em;
  margin-top: 1em;
  width: 130%;
}

.prize-input {
  font-size: 1.2em;
  width: 90%;
  margin: 0.8rem;
  font-weight: bold;
}
.nameCell {
  margin-right: 21%;
}

/* Name and number input  */
.newName {
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.labels {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: #333;
}

.name {
  margin-left: 6.5em;
}
.list-items-container {
  margin: 1% 0 3% 0;
  border-radius: 3%;
}

/* List */
.list {
  margin-left: 22%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  background: #fffaf1;
  width: 50%;
  border-radius: 0.5rem;
  font-weight: bold;
}
.list-items-container {
  background-color: white;
}
.player-list-name {
  position: relative;
  left: 2%;
  max-width: 80%;
}

.players-list-table tr {
  text-align: left;
  border-radius: 3%;
}
.players-list-table th {
  font-size: 1.5em;
  background-color: white;
}
.players-list-table td {
  background-color: white;
  border-bottom: solid 0.5px;
  font-weight: 400;
  font-size: 1.8em;
}
.play-list-td {
  background-color: red;
}

.ms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1em;
  /* justify-content: space-between; */
  width: 80%;
  background: #fffaf1;
  padding: 0 1rem 0.5rem 2.5rem;
  border-radius: 0.5rem;
}

.titles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.names {
  position: relative;
  right: 2.5em;
}

.list-name {
  margin-left: 0.7em;
}

.list-item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.numbers {
  position: relative;
  left: 3em;
  font-size: 1.5em;
}

.icons {
  position: relative;
  left: 3em;
}

.form-icons {
  position: relative;
  top: 25%;
  left: 5em;
}

.edit {
  color: lightgreen;
  margin-right: 15%;
  margin-left: 10%;
  cursor: pointer;
}
.delete {
  color: red;
  cursor: pointer;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
/* Prize */
.prize-container {
  position: relative;
  right: 10em;
  width: 70%;
  height: auto;
}
.prize-pic {
  width: 100%;
}
.prize-form {
  margin-right: 3em;
  width: 90%;
  margin-bottom: 1rem;
}
.prize-list-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem 0.5rem 2.5rem;
  border-radius: 0.5rem;
}
.prize-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Lora", serif;
  text-align: center;
}
.prize-list-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fffaf1;
  margin-right: 3em;
  width: 20em;
  border-radius: 0.5rem;
}

.prize-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.prize-item {
  display: flex;
}

.prize-icons {
  position: relative;
  left: 1rem;
}

/* Prizes table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th {
  font-weight: bold;
  color: black;
}

td {
  padding: 10px;
  font-size: 1.3em;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.arrow-div {
  position: absolute;
  left: 87%;
  top: 11%;
}
.arrow {
  width: 50%;
}

@media screen and (max-width: 1990px) {
  .names {
    font-size: 1.5em;
  }

  .form-icons {
    position: relative;
    top: 40%;
  }
  .arrow-div {
    position: absolute;
    left: 95%;
    top: 20%;
  }
}
@media screen and (max-width: 1970px) {
  .arrow-div {
    position: absolute;
    left: 80%;
    top: 19%;
  }
}
@media screen and(max-width: 1550px) {
  .arrow-div {
    position: absolute;
    left: 85%;
    top: 19%;
    background-color: red;
  }
}

@media (max-width: 1600px) {
  .titles-container {
    display: flex;
    align-items: left;
    justify-content: space-between;
  }
  .list-numbers {
    margin-right: 20%;
  }

  .names {
    position: relative;
  }

  .prize-icons {
    position: relative;
  }

  .prize-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #btn-addPlayer {
    font-size: 1em;
    position: relative;
    bottom: 1rem;
  }

  .btn-reset {
    position: relative;
    bottom: 1rem;
    right: 23.5em;
  }
}

@media (max-width: 1441px) {
  .main-form {
    height: 10em;
  }
  .info {
    font-size: 1.3em;
  }

  .name {
    position: relative;
    left: 4.5em;
  }

  .nameLabel {
    position: relative;
    top: 1em;
  }
  .newTickets {
    font-size: 0.8em;
  }

  .btn-container {
    justify-content: space-between;
    width: 11em;
  }

  #btn-addPlayer {
    font-size: 1em;
    position: relative;
    left: 15em;
  }
  .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prize-pic {
    position: relative;
    left: 0.9em;
  }
  .prize-form {
    width: 90%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1025px) {
  #btn-addPlayer {
    position: relative;
    right: 150em;
  }
}

@media (max-width: 768px) {
  .name {
    margin-left: 1.7rem;
  }

  .newTickets {
    background-color: red;
  }
  .names {
    margin-left: -3.5em;
  }

  .title {
    margin-right: 1rem;
  }
}

.players-list-table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}

.play-list-td {
  padding: 15px;
}

.players-list-table thead th {
  background-color: #add8e6;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #54585d;
  border-right: none;
  border-left: none;
}

.players-list-table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}

.players-list-table tbody tr {
  background-color: #f9fafb;
}

.players-list-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
